:root {
  --primary-color: #fdf0f0;
  --secondary-color: #1f4172;
  --terciary-color: #f1b4bb;
  --shadow: #8080801c;
}

.Dictionary .search-engine-container {
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 5px 5px var(--shadow);
  padding: 10px;
}

.Dictionary h1 {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.Dictionary form {
  text-align: center;
}

.Dictionary [type="search"] {
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 15px;
  letter-spacing: 1px;
  margin: 10px;
  padding: 8px 10px;
  width: 70%;
}

.Results {
  margin-top: 30px;
}

.Results .results-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Results h2 {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.Results .part-of-speech {
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 5px 5px var(--shadow);
  margin: 15px 0 30px;
  padding: 10px 20px;
}

.Meaning h3 {
  color: var(--terciary-color);
  font-size: 20px;
  font-weight: 500;
}

.Meaning ul {
  padding: 0 20px;
}

.Meaning li {
  font-weight: 300;
  letter-spacing: 1px;
  list-style-position: inside;
  list-style-type: "•";
  margin-bottom: 10px;
}

.Synonyms ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 10px auto;
}

.Synonyms li {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  list-style: none;
  margin: 0 15px;
  text-transform: capitalize;
}

.Phonetics {
  align-items: center;
  display: flex;
}

.Phonetics p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}

.Phonetics .phonetic-text {
  margin: 5px 0;
}

.Phonetics .icon {
  font-size: 30px;
  color: var(--secondary-color);
}

.Phonetics .icon:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .Results .results-container {
    grid-template-columns: 1fr;
  }
}
