:root {
  --primary-color: #fdf0f0;
  --secondary-color: #1f4172;
  --terciary-color: #f1b4bb;
  --shadow: #8080801c;
}

.Dictionary .search-engine-container {
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 5px 5px var(--shadow);
  padding: 10px 10px 20px;
}

.Dictionary h1 {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.Dictionary form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.Dictionary [type="search"] {
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 8px;
  padding: 12px 12px;
  width: 100%;
}

.Dictionary .search-engine-container p {
  font-size: 10px;
  text-align: start;
  letter-spacing: 0.5px;
  opacity: 0.8;
  margin: 5px 0 0 5px;
}
.Results {
  margin-top: 30px;
}

.Results .results-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 15px 0 30px;
}

.Results h2 {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.Results .part-of-speech {
  background: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 5px 5px var(--shadow);
  padding: 10px 20px;
}

.Results .photos-container {
  align-self: flex-start;
}

.Meaning h3 {
  color: var(--terciary-color);
  font-size: 23px;
  font-weight: 500;
}

.Meaning ul {
  padding: 0 20px;
}

.Meaning li {
  font-weight: 300;
  letter-spacing: 1px;
  list-style-type: "⁕ ";
  margin-bottom: 10px;
}

.Meaning li::marker {
  color: var(--terciary-color);
}

.Synonyms li {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  list-style: none;
  margin: 0 20px 0 0;
  text-transform: capitalize;
}

.Phonetics {
  align-items: center;
  display: flex;
}

.Phonetics p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}

.Phonetics .phonetic-text {
  margin: 5px 0;
}

.Phonetics .icon {
  font-size: 30px;
  color: var(--secondary-color);
}

.Phonetics .icon:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .Results .results-container {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }

  .Dictionary h1 {
    font-size: 20px;
  }

  .Dictionary form {
    width: 90%;
  }

  .Dictionary [type="search"] {
    font-size: 13px;
  }
  .Results h2 {
    font-size: 18px;
  }

  .Phonetics p {
    font-size: 15px;
  }

  .Phonetics .icon {
    font-size: 25px;
  }

  .Meaning h3 {
    font-size: 16px;
  }

  .Meaning {
    font-size: 14px;
  }

  .Synonyms li {
    font-size: 15px;
  }
}
