.Footer {
  color: #1f4172;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin: 20px auto;
  max-width: 90%;
  text-align: center;
}
.Footer a {
  text-decoration: none;
  color: #f1b4bb;
  font-weight: 500;
}

@media (max-width: 992px) {
  .Footer {
    font-size: 13px;
    margin-top: 0;
  }
}
